.block-mod--white{
            background: white;
            width: 32rem;
            height: 17rem;
            padding:0.2rem;
    		position:relative;
    		bottom:65rem;
    		right:3rem;
    }

    .block-mod--white .block{
    	margin:0rem;
    	padding:0.2rem;
    }

	.block .block__title {
            font-family:Arial, Helvetica, sans-serif, serif;
            padding: 0.625rem;
            font-size: 2.2rem;
            margin: 0.5rem;
        }

	.block .block__description {
    		display:block;
            font-family:Arial, Helvetica, sans-serif, serif;
            padding: 0.625rem;
            font-size: 1.1rem;
    		margin: 0.5rem;
        }

    .block .block__btn{
   			background-color: #3d51ff;
            color: #fff;
            cursor: pointer;
            border: 0;
            padding: 0.2rem 0.1rem;
            margin: 0 0.5rem 1rem 1rem;
            border-radius: 25px;
            font-weight: bolder;
            width: 13vw;
	}
@media only screen and (min-width: 600px) {
    .block-mod--white{
            background: white;
            width: 32rem;
            height: 17rem;
            right:12rem;
            padding:0.2rem;
    		position:absolute;
    		bottom:67rem;
    		right:13rem;
    }
}