.block-md {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index:1;
}
.block-md .block {
    display: inline-block;
    background:white;
    width:900px;
    height:400px;
    margin:10px 120px;
    padding:1rem;
}
.block .block__description{
    max-width:50px;
    background:black;
    color:white;
    padding:.5rem;
    }
.block .block__title{

        }
