 #wrapper-main {
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    border: 2px solid orange;
    background: gray;
    padding: .5rem;
    overflow-x: auto;
  }
  #wrapper-row {
    flex: 1;
    display: flex;            /* new */
    flex-direction: row;
    padding: .5rem;  
    background:cornflowerblue; /* new */
  }
  #wrapper-row__image {
    display: flex;
    flex-direction: column;
    flex: 1;  
    background: white; 
    width: 300px;
    justify-content: center;  
    padding:0.6rem;           /* new */
  }
  #wrapper-row__item {
    display: flex;
    flex-direction: column;
    flex: 1;   
    background: white;   
    width: 500px; 
    justify-content: center; 
    padding:0.6rem;              /* new */
  }