::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}
/*Horizontal Scroll*/

.block-md {
  position:absolute;
  display:block;
  top:150px;
  left:10px;
  width:100%;
  max-width:500%;
  margin:0;
  background:white;
  overflow-y:auto;
  overflow-x:auto;
}

.block-md > .block{
  display:inline-block;
  padding:5rem;
  background:#cab;
  margin:10px 10px;
  padding:25px;
  background:#cab;
}
